@import '../../../style/App.scss';

@media screen and (max-width: 990px) {
  .big__titleq {
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 400px) {a
  .big__titleq {
    h2 {
      font-size: 4rem;
    }
  }
}