@import '../../style/App.scss';

.hero {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 60px;
  .hero-info {
    padding-top: 60px;

    p {
      padding-top: 20px;
      padding-bottom: 50px;
      text-align: justify;
    }
  }
 

  .hero-image {
    max-width: 570px;
    height: auto;
    float: right;
  }
  .aws-btn {
    font-size: 12px;
    font-weight: 100;
    --button-default-height: 45px;
    --button-default-font-size: 10px;
    --button-default-border-radius: 10px;
    --button-horizontal-padding: 40px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2.5;
    --transform-speed: 0.225s;
    --button-primary-color: #1e88e5;
    --button-primary-color-dark: #1360a4;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #187bd1;
    --button-primary-color-active: #166dba;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-color-active: #cfdee9;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-color-active: #0c4271;
    --button-anchor-border: none;
    --button-danger-color: #c42e2e;
    --button-danger-color-dark: #861f1f;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #bc2c2c;
    --button-danger-color-active: #af2929;
    --button-danger-border: none;
  }
}

@media screen and (max-width: 1080px) {
  .hero {
    padding-top: 140px;

    .hero-info {
      padding-top: 0px;
    }

    .hero-image {
      float: none;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 990px) {
  .hero {
    .hero-info {
      text-align: center;
    }
  }
}
@media screen and (max-width: 545px) {
  .hero {
    .hero-info {
      text-align: start;
      margin-top: -139px!important;
    }
    h1{
      font-size: 42px;
    }
    p{
      margin-top: -16px;
    }
    AwesomeButton{
      width: 100%;  
      margin-top: -26px;
    }
    .hero-image{
      display: none;
      margin-top: -25px;
    }
    .About-btn{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 50%;
      margin-bottom: 10px;
      margin-right: 0px;
      margin-left: 90px;
    }
  }
}
