@import '../../style/App.scss';

#partners {
  background-color: transparent;
  padding: 80px 0;
}
.partner-title{
  padding: 80px 0px 0px 80px ;
  font-size: 24px;
  font-style: Bold;
}
  @media (max-width:450px) {
    .cube{
      margin-top: -40px;
    }
} 