@import '../../style/App.scss';


.container{
    margin-top: 20px;
    margin-bottom: 20px;

    .card{
        display: flex;
        flex-direction: row;
        grid-gap: 10px;
        gap: 10px;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
    }
    .career__content{
        display: flex;
        font: 1em sans-serif;
        
    }
    .card-body {
        display: flex;
        flex-direction: row-reverse;
        grid-gap: 12px;
        grid-gap: 12px;
        gap: 12px;
        /* padding: 0px; */
        padding-left: 21px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        padding-bottom: 0px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.13);
        -webkit-backdrop-filter: blur(87px);
        backdrop-filter: blur(87px);
        max-width: 410px;
        margin-top: 3%;
        border-radius: 15px;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .card-body:hover{
        display: flex;
        flex-direction: row-reverse;
        grid-gap: 12px;
        grid-gap: 12px;
        gap: 12px;
        /* padding: 0px; */
        padding-left: 21px;
        padding-bottom: 0px;
        height: 180px;
        background-color: rgba(74, 162, 207, 0.13);
        -webkit-backdrop-filter: blur(87px);
        backdrop-filter: blur(87px);
        max-width: 410px;
        margin-top: 3%;
        border-radius: 15px;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        
        

    }
    .card-content{
        display: flex;
        flex-direction:column;
        gap:12px;
        align-items: self-start;
        justify-content:center;
        position: relative;


    }
    .card-title{
        font: 1.5em san-serif;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'San Francisco', sans-serif; 
    }
    .card-text{
        font: 1em sans-serif;
        margin-top: 1px;
        font-family: 'San Francisco', sans-serif; 
       
    }
    .card-pic{
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 78px 18px 18px 78px;
       
    
    }
   

    .card-btn{
        width: 80%;
        position: absolute;
        bottom: 0%;
        left: 134%;
        color: antiquewhite;
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }



}
.whyus_title{
    color: black;
    font-size: 1.5em;
    line-height: 12px;
    display: contents;
}
.whyus_desc{
    font-size: 1em;
    line-height: 40px;
    color: #333;
}

/* Dropdown Button */
.dropdown-btn {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    gap: 20px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .dropdown-btn:hover {
    background-color: rgba(177, 197, 240, 0.568);
    backdrop-filter: blur(12px);
  }
  
  /* Dropdown Content */
  .dropdown-content {
    background-color: #f8f8f8;
    padding: 15px;
    border-left: 4px solid #007bff;
    border-bottom: 1px solid #ddd;
    display: none;
  }
  
  .dropdown-content p {
    margin: 0;
  }
  
  .dropdown-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  /* Show the dropdown content when the state is active */
  .dropdown-content {
    display: block;
  }
  @media (max-width:520px) {

    
  }